attrs==21.2.0
Automat==20.2.0
certifi==2021.10.8
charset-normalizer==2.0.9
constantly==15.1.0
coverage==6.2
coveralls==3.3.1
cycler==0.11.0
docopt==0.6.2
fonttools==4.28.5
future==0.18.2
hyperlink==21.0.0
idna==3.3
imutils==0.5.4
incremental==21.3.0
ipaddress==1.0.23
kiwisolver==1.3.2
loguru==0.5.3
matplotlib==3.5.1
netifaces==0.11.0
nose==1.3.7
ntplib==0.4.0
numpy==1.21.4
opencv-contrib-python==4.5.4.60
opencv-python==4.5.4.60
p2pnetwork==1.1
packaging==21.3
pep8==1.7.1
Pillow==8.4.0
pipreqs==0.4.11
psutil==5.8.0
pyp2p==0.7.9
pyparsing==3.0.6
pyroute2==0.6.5
pyroute2.core==0.6.5
pyroute2.ethtool==0.6.5
pyroute2.ipdb==0.6.5
pyroute2.ipset==0.6.5
pyroute2.ndb==0.6.5
pyroute2.nftables==0.6.5
pyroute2.nslink==0.6.5
pyshine==0.0.9
python-dateutil==2.8.2
requests==2.26.0
six==1.16.0
storjkademlia==0.7.4
storjrpcudp==2.5
tqdm==4.62.3
Twisted==21.7.0
typing_extensions==4.0.1
u-msgpack-python==2.7.1
urllib3==1.26.7
yarg==0.1.9
zope.interface==5.4.0
